body {
    
}
h1 {
  
  text-align: center;
  font-size: 17px;
  position: relative;
  top: 15px;     /* this moves the text down 15 px,*/
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
p {
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: auto;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
a:link {
  color: none;
  text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
    }
    
a:visited{
    text-decoration: none;
    color: black;
 }